
/* ====================================
                GENERAL STYLE
==================================== */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: LeagueSpartan,sans-serif;
}
@font-face {
  font-family: LeagueSpartan;
  src: url(./assets/LeagueSpartan-Bold.ttf) format("truetype");
}
#root{
  display: flex;
  justify-content: center;
}
.app__container{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.app {
  padding: 5vw 20px;
  max-width: 560px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

/* ====================================
                HEADER
==================================== */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav{
  display: flex;
  align-items: flex-end;
}
.header__nav__container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.2em;
}
.header__nav__number {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: .7em;
}
.header__title{
  font-size: 1.5rem;
}
.header__sub{
  font-size: 0.6rem;
  margin-right: 2em;
  height: 20px;
  display: flex;
  align-items: center;
}
.header__radio{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  height: 25px;
  width: 70px;
  z-index: 6;
}
.header__radio__circle{
  border-radius: 20px;
  height: 15px;
  width: 15px;
  z-index: 7;
}

/* ====================================
                MAIN
==================================== */
.main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0rem;
  height: 100%;
}

/*===== SCREEN =====*/
.main__screen{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 90px;
  height: 20vw;
  max-height: 130px;
  padding: 2rem 1rem;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}
.screen__text{
  /* font-size: clamp(1rem, 8vw, 3rem); */
  font-size: calc(1rem + 3vw);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  text-align: right;
}

/*===== PAD =====*/
.btn__0{ grid-area: zero ; } .btn__1{ grid-area: one  ; } .btn__2{ grid-area: two ; } .btn__3{ grid-area: three ; }
.btn__4{ grid-area: four ; } .btn__5{ grid-area: five ; } .btn__6{ grid-area: six ; } .btn__7{ grid-area: seven ; }
.btn__8{ grid-area: eight ; } .btn__9{ grid-area: nine ; } .btn__plus{ grid-area: plus ; } .btn__-{ grid-area: minus ; }
.btn__x{ grid-area: x ; } .btn__slash{ grid-area: slash ; } .btn__dot{ grid-area: dot ; } .btn__del{ grid-area: del ; }
.btn__equal{ grid-area: equal ; } .btn__reset{ grid-area: reset ; }

.pad{
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-template-areas:
      "seven eight nine del"
      "four five six plus"
      "one two three minus"
      "dot zero slash x"
      "reset reset equal equal";
  gap: 1rem;
  /* height: 100%; */
  padding: 1rem;
  background-color: darkgray;
  border-radius: 10px;
}
button{
  height: 60px;
  border: 0px solid black;
  border-radius: 5px;
  font-size: clamp(1.5em, 5.5vw, 2em);
  padding: 0.4em 0px;
}
button:hover{
  -webkit-filter: brightness(1.6);
          filter: brightness(1.6);
}

/* ====================================
                FOOTER
==================================== */
.footer{
  margin-top: 1rem;
  text-align: center;
  font-size: clamp(12px, 3.5vw, 1em);
}
.footer__link{
  text-decoration: none;
}